@import "./mixin";
@import "./helpers/reboot";

body{
    font-family: Arial, "Helvetica Neue", Helvetica,'微軟正黑體', sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{

    }
}

a{
color: #999;
}
.vm--modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}

.sighForm{
    h1{
        font-size: 36px;
        text-align:center;

    }
    input{
        height: 36px;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 10px;
    }
    .signBtn{
        border: 0;
        background-color:$mainColor;
        color: #fff;
        text-align:center;
        width: 100%;
        padding: 10px 0;

    }
    .close{
        position: absolute;
        right: 15px;
        top: 15px;

    }

}

.products{
.head{
    display: flex;
    .one{

    }
}
.cont{
    .one-line{
        display: flex;
    }

}
}