@import "functions";
@import "helpers/variables";
@import "helpers/mixins";
@import "base/base-all";
@import "grid";
@import "containers";
@import "buttons";
@import "forms";
@import "z-index";
// @include grid(66, md);
// @include grid(69, 0);
// @include grid(9, 0);
@include container(1800);
@include container(800);
@include container(500);
.desk-hide-md {
  @include min(md) {
    display: none;
  }
}
.mobile-hide-md {
  @include max(md) {
    display: none;
  }
}
.button-none {
  padding: 0;
  border: 0;
  background: none;
}
.close-position {
  position: absolute;
  right: $spacer;
  top: $spacer;
}
.text-success {
  color: $success;
}
.text-success-message {
  color: $success;
  display: block;
  padding-top: $spacer-sm-2;
}
.text-danger {
  color: $danger;
}
.text-danger-message {
  color: $danger;
  display: block;
  padding-top: $spacer-sm-2;
}
.btn-wrapper-center {
  text-align: center;
  // padding-top: $spacer-sm;
  margin-bottom: $spacer-bottom;
}
.btn-wrapper-side {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacer-bottom;
  &.delete-spacer {
    @include min(md) {
      padding-right: 6%;
    }
  }
  .btn {
    +.btn {
      margin-left: $spacer;
    }
  }
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $spacer 0 0 2.5rem;
  @include max(md) {
    padding-left: $spacer;
  }
  margin-bottom: $spacer-bottom;
  font-size: $font-size-base;
  list-style: none;
  background-color: $white;
  border-radius: 0;
}
.breadcrumb__item {
  display: flex;
  a {
    &:hover,
    &:active {
      color: $secondary;
    }
  }
  // The separator between breadcrumbs (by default, a forward-slash: "/")
  +.breadcrumb__item {
    padding-left: $spacer-sm;
    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      padding-right: $spacer-sm;
      color: $body-color;
      content: quote("/");
    }
  }
  &.active {
    color: $secondary;
  }
}
//覆蓋套件的css
.vm--container {
  padding-top: $spacer;
}
.vm--modal {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // position: relative;
  box-shadow: none;
  overflow-y: auto;
}
// .vm-transition--modal{
//   opacity: 0;
// }
//初始化 vue js modal
.vm-transition--overlay-enter-active,
.vm-transition--overlay-leave-active {
  transition: none;
}
.vm-transition--overlay-enter,
.vm-transition--overlay-leave-active {
  opacity: 0;
}
.vm-transition--modal-enter-active,
.vm-transition--modal-leave-active {
  transition: all 100ms;
}
.vm-transition--modal-enter,
.vm-transition--modal-leave-active {
  opacity: 0;
  transform: none;
}
.vm-transition--default-enter-active,
.vm-transition--default-leave-active {
  transition: all 2ms;
}
.vm-transition--default-enter,
.vm-transition--default-leave-active {
  opacity: 0;
}
/*
.vm-transition--overlay-enter{
  opacity: 0;
  transform: none;
}
.vm-transition--overlay-enter-active{
  opacity: 1;
}
.vm-transition--overlay-enter-to{
  opacity: 1;
}
.vm-transition--modal-enter{
  opacity: 0;
  transform: none;
}
.vm-transition--modal-enter-active{
  opacity: 1;
}
.vm-transition--modal-v-enter-to{
  opacity: 1;
}
*/
.to-top-btn {
  display: none;
  position: fixed;
  right: $spacer;
  bottom: $spacer;
  &.show {
    display: block;
  }
}
.footer {
  background-color: #000;
  color: #fff;
  padding: $spacer-bg $spacer;
  @include min(md) {
    padding: $spacer-bg $spacer-bg-2;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    color: #fff;
    &:hover {
      color: $gray-300;
    }
  }
  &__word {
    display: inline-block;
    @include min(md) {
      padding-left: $spacer;
    }
    @include max(md) {
      padding-top: $spacer-sm;
    }
  }
}
.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: $spacer-sm-2 $spacer;
  @include transition;
  &.bg-white {
    background-color: $gray-100;
    @include border-bottom;
  }
  @include min(md) {
    padding: $spacer-sm $spacer-bg-1;
  }
  @include max(sm) {}
  // .side-content {
  //   display: flex;
  //   align-items: center;
  // }
  .logo {
    width: 100px;
    padding: $spacer-sm;
    @include min(md) {
      margin-right: $spacer;
    }
    @include max(md) {
      position: absolute;
      left: calc(50% - 50px);
      top: 3px;
    }
  }
}
.menu {
  &--left {
    margin-right: auto;
  }
  &__list {
    display: flex;
    margin-bottom: 0;
    &--mobile-top {
      @include max(md) {
        margin-right: -$spacer-sm;
      }
    }
  }
  &__item {
    position: relative;
  }
  &__link,
  button.menu__link {
    background: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    padding: $spacer-sm-1 $spacer-sm;
    &+&__link {
      // padding-left: $spacer;
    }
  }
  &.off-canvas {
    @include max(md) {
      transform: translateX(-120%);
      padding-top: $spacer*3;
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      background-color: $light-bg;
      height: 100%;
      @include transition;
      &.active {
        transform: translateX(0);
      }
    }
    .menu__list {
      @include max(md) {
        display: block;
        text-align: center;
      }
    }
  }
}
.dropdown {
  position: relative;
  &__btn {}
  &__box {
    @include border;
    padding: $spacer-sm 0;
    background-color: $white;
    min-width: 150px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate3d(0, 38px, 0);
    display: none;
    &.active {
      display: block;
    }
    &.navbar-dropdown {
      @include max(md) {
        position: static;
        transform: translate3d(0, 0, 0);
        background-color: transparent;
        border: 0;
      }
    }
    &--right {
      right: 0;
      left: auto;
    }
    &.no-padding {
      padding: 0;
    }
  }
  &__item {
    display: block;
    white-space: nowrap;
    padding: $spacer-sm $spacer-bg;
  }
}
//客製化購物車的dropdown
.cart-qty-icon {
  position: absolute;
  width: 16px;
  right: -3px;
  top: -3px;
  height: 16px;
  text-align: center;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $danger;
  color: #fff;
  font-size: 12px;
}
.dropdown__box {
  .cart {
    width: 340px;
    @include max(360) {
      width: 320px;
      max-width: 85vw;
    }
    margin-bottom: 0;
  }
  .cart__head {
    border-top: 0;
    @include border-bottom;
    @include max(md) {
      display: flex;
    }
    .cart__item {
      &:nth-child(1) {
        padding-left: 0
      }
    }
  }
  .cart__row {
    align-items: center;
    // text-align: center;
    border-top: 0;
    &+.cart__row {
      @include border-top;
    }
    padding: $spacer 0;
  }
  .cart__list {
    border: 0;
    padding: 0 $spacer;
  }
  .cart__num {
    // text-align: center;
  }
  .cart__price {
    order: 1;
  }
  .cart__delete {
    order: 2;
  }
  .btn-wrapper-side {
    padding: 0 $spacer $spacer;
    margin-bottom: 0;
  }
}
.top-banner {
  margin-bottom: $spacer-bottom*2;
  @include max(sm) {
    margin-bottom: $spacer-bottom;
  }
  &__item {
    height: 700px;
    background: no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    // &:before{
    //   content: '';
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   left: 0;
    //   top:0;
    //   background-color: rgba($primary,0.1);
    // }
    @include max(xl) {
      background-position: 30% 50%;
      // height: 70vh;
    }
    @include max(lg) {
      height: 70vh;
      align-items: flex-start;
      // background-position: center;
      justify-content: center;
      background-position: 50% 40%;
    }
  }
  &__inner {
    z-index: 2;
    padding-left: 10vw;
    @include max(lg) {
      padding-bottom: 15vh;
      padding-top: 10vh;
      padding-left: $spacer-bg-2;
      // text-align: center;
      // margin-left: 0;
      width: 100%;
      // background: linear-gradient(rgba(#000, 0) 0%, rgba(#000, 0.3) 40%, rgba(#000, 0.6) 100%);
    }
    h2 {
      font-size: $h1-font-size;
      @include max(lg) {
        // color: $white;
        font-size: 2.2rem;
        // @include text-shadow;
      }
    }
    p {
      font-size: $h3-font-size;
      @include max(lg) {
        // color: $white;
        font-size: $h4-font-size;
        // @include text-shadow;
      }
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  @include max(sm) {
    display: none;
  }
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: $black;
  opacity: 0.2;
}
.swiper-pagination-bullet-active {
  background: $secondary;
  opacity: 1;
}
//小東西
.sub-title {
  margin-bottom: $spacer-sm-2;
  color: $secondary;
  font-weight: $font-weight-bold;
  display: block;
}
//區塊
.section {
  // margin-bottom: $spacer;
  // padding-top: $spacer-bg-1;
  padding-bottom: $spacer-bg-1;
  h2 {
    font-size: $h2-font-size;
    text-align: center;
    margin-bottom: $spacer-bg-1;
    @include max(md) {
      font-size: 1.8rem;
    }
    //   display: inline-block;
    // }
  }
  // .btn{
  //   @include max(md){
  //     width: 100%;
  //   }
  // }
  // &__block {}
  .btn-wrapper-center {
    .btn {
      @include max(sm) {
        width: 100%;
      }
    }
  }
}
.introduction {
  @include max(md) {
    // padding-top: $spacer;
  }
  &__icon {
    position: relative;
    width: 60px;
    transform: rotate(16deg);
    margin-top: -40px;
    margin-left: $spacer;
    z-index: -1;
    @include max(md) {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
  h3 {
    // font-size: $h3-font-size;
    line-height: 1.5;
    border-bottom: $primary 1px solid;
    margin-bottom: $spacer;
    position: relative;
  }
  &__item {
    padding-top: $spacer;
    margin-bottom: $spacer-bottom;
    padding-left: $spacer;
    padding-right: $spacer;
    @include max(md) {
      padding: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
  .btn {
    @include max(sm) {
      width: 100%;
    }
  }
}
.feature {
  h3 {
    // font-size: $h3-font-size;
    line-height: 1.5;
    // margin-bottom: 0;
  }
  &__item {
    margin-bottom: $spacer-bottom;
  }
  &__img {
    margin-bottom: $spacer-sm;
  }
  &__content {}
  .btn {
    @include max(sm) {
      width: 100%;
    }
  }
}
.product-top {
  margin-top: $spacer-bg-1;
  // height: 400px;
  // background: no-repeat 50% 50%;
  // background-size: cover;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  @include border;
  // @include border-top;
  // background-color: $light-bg;
  // position: relative;
  padding: $spacer-bg-1;
  margin-bottom: $spacer-bottom;
  @include max(md) {
    margin-top: $spacer;
    padding: $spacer-sm;
    // text-align: center;
    // padding: $spacer  0;
    // padding-bottom: $spacer-bg-2;
  }
  // &:before {
  //   content: '';
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  //   background-color: rgba($primary, 0.5);
  // }
  &__content {
    // padding: $spacer-bg-1 ;
    padding-left: $spacer-bg-1;
    @include max(md) {
      padding-left: $spacer;
      // padding: $spacer;
    }
  }
  &__inner {
    z-index: 2;
    // color: $white;
    text-align: center;
  }
  &__title {
    font-size: $h2-font-size;
    margin-bottom: $spacer;
    @include max(md) {
      font-size: $h5-font-size;
      // padding-top: $spacer;
      margin-bottom: $spacer-sm-2;
    }
    // color: $white;
  }
  &__text {
    font-size: $h3-font-size;
    margin-bottom: 0;
    @include max(md) {
      font-size: $font-size-base;
    }
    &__sp {
      background-color: $white;
      display: inline-block;
      padding: 0 $spacer-sm-2;
      border: $primary 1px solid;
    }
  }
  // border:#ccc 1px solid;
  .bag-row {
    align-items: center;
  }
  br {
    @include min(md) {
      display: none;
    }
  }
  // padding: $spacer;
}
.product-category {}
.product {
  &__item {
    padding: $spacer;
    margin-bottom: $spacer-bottom;
    position: relative;
    // border: transparent 1px solid;
    @include transition;
    @include max(md) {
      padding: 0;
    }
    cursor: pointer;
    &:hover,
    &:active {
      // @include border;
      .product__img {
        @include transition;
        transform: scale(1.05);
      }
    }
  }
  &__img {
    position: relative;
  }
  &__content {
    position: relative;
  }
  &__title {
    font-size: $h5-font-size;
    line-height: 1.5;
  }
  &__bottom {
    // *{
    //   padding-left: $spacer-sm-2;
    //   padding-right: $spacer-sm-2 ;
    // }
    display: flex;
    align-items: flex-end;
    // justify-content: space-between;
  }
  &__origin_price {
    color: $gray-500;
    text-decoration: line-through;
    padding-right: $spacer;
    display: inline-block;
    font-weight: $font-weight-bold;
    font-size: $h5-font-size;
    @include max(md) {
      font-size: 14px;
    }
  }
  &__price {
    color: $secondary;
    font-weight: $font-weight-bold;
    display: inline-block;
    // font-size: $h5-font-size;
    font-size: $h5-font-size;
    // @include max(md) {
    //   font-size: $h5-font-size;
    // }
  }
  &__addToCart {
    margin-left: $spacer;
    font-size: $font-size-sm;
    @include max(md) {
      position: absolute;
      right: 0;
      margin-left: 0;
      top: -40px;
    }
  }
}
.page {
  padding-top: 65px;
  min-height: calc(100vh - 72px);
  padding-bottom: $spacer-bottom;
  // padding-top: 0;
  @include max(md) {
    padding-top: 50px;
  }
  &--pt {
    padding-top: calc(65px + #{$spacer-bg-2});
    @include max(md) {
      padding-top: calc(50px + #{$spacer-bg-2}); 
    }
  }
  &__title {
    font-size: $h2-font-size;
    margin-bottom: $spacer-bottom;
    &--sm {
      font-size: $h3-font-size;
      margin-bottom: $spacer;
    }
  }
}
// .buying-page {
//   margin-top: $spacer-bg-2;
//   // &__title {
//   //   font-size: $h2-font-size;
//   //   margin-bottom: $spacer-bottom;
//   //   &--sm{
//   //     font-size: $h5-font-size;
//   //      margin-bottom: $spacer;
//   //   }
//   // } 
// }
.side-box {
  display: flex;
  align-items: center;
  margin-bottom: $spacer;
}
.menu-block {
  margin-bottom: $spacer;
  @include max(md) {
    // margin-bottom: 0;
  }
  // margin-top: $spacer-bg-2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  // @include border-bottom;
  &--inline {
    margin-bottom: $spacer-bottom;
  }
  .page__title {
    margin-bottom: 0;
  }
  @include min(md) {}
}
.search {
  position: relative;
  margin-left: $spacer;
  // @include border;
  input {
    min-width: 200px;
    padding-right: 30px;
  }
  label {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30px;
    margin-bottom: 0;
  }
}
.nav-menu {
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: $spacer;
  @include max(md) {
    margin-bottom: $spacer;
  }
  &::-webkit-scrollbar {
    display: none
  }
  &__box {
    display: flex;
    margin-bottom: 0;
    font-size: $h5-font-size;
  }
  &__item {
    &+.nav-menu__item {
      margin-left: $spacer-sm*2;
    }
    @include max(md) {
      flex: none;
    }
  }
  &__link {
    display: block;
    font-weight: $font-weight-bolder;
    // padding: 0.5rem $spacer;
    // border:$input-border-color 1px solid;
    // color: $primary;
    cursor: pointer;
    @include transition;
    &:hover {
      color: $secondary;
      // background-color: $primary;
    }
    &.active {
      color: $secondary;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -2px;
        @include max(md) {
          // bottom: 0;
        }
        height: 4px;
        background-color: $secondary;
      }
      // background-color: $primary;
    }
  }
}
.input-group {
  display: flex;
  align-items: stretch;
  .form-control {
    margin-right: $spacer;
    @include max(md) {
      // flex: 1 1 auto;
    }
    height: 41px;
    // width: auto;
  }
  .btn {
    flex-shrink: 0;
  }
}
.detail {
  &__top {
    align-items: center;
  }
  &__img {}
  &__info {
    margin-bottom: $spacer-bottom;
  }
  &__title {
    font-size: $h3-font-size;
    margin-bottom: $spacer-bottom;
  }
  &__title__sm {
    font-size: $h5-font-size;
  }
  &__category {
    color: $secondary;
    font-weight: $font-weight-bolder;
  }
  &__content {
    padding: $spacer-bottom 0;
    @include border-top;
  }
  &__text {
    ul {
      padding-left: 20px;
      list-style: disc;
      li {
        padding-bottom: $spacer-sm-2;
      }
    }
  }
  &__qty {
    // width: 120px;
    @include min(md) {
      .form-control {
        width: 120px;
      }
    }
  }
  .product__price {
    margin-bottom: $spacer-bottom;
  }
}
.cart {
  // text-align: center;
  text-align: left;
  margin-bottom: $spacer-bottom;
  &__head {
    @include border-top;
    padding: $spacer;
    font-weight: $font-weight-bolder;
    // text-align: center;
    .cart__item {
      &:nth-child(1) {
        padding-left: $spacer-bg-1;
        width: 61%;
        text-align: left;
      }
      &:nth-child(2) {
        width: 22.2%;
      }
      &:nth-child(3) {
        width: 13%;
        text-align: right;
      }
    }
    @include max(md) {
      display: none;
    }
  }
  &__item {
    &:first-child {
      // text-align: left;
    }
    &:last-child {
      // text-align: right;
    }
  }
  &__list {
    @include border-bottom;
  }
  &__img {
    img {
      width: 100px;
    }
    text-align: left;
  }
  &__title {
    // text-align: justify;
    padding-right: $spacer-sm;
  }
  &__num {
    @include max(md) {
      text-align: left;
    }
    &__content {
      padding: 0 $spacer-sm;
      &.no-padding {
        padding: 0;
      }
    }
  }
  &__row {
    position: relative;
    align-items: center;
    padding: $spacer;
    @include border-top;
    @include max(md) {
      align-items: stretch;
      padding: $spacer 0;
    }
  }
  &__group {
    align-items: center;
    @include max(md) {
      align-items: stretch;
    }
  }
  &__delete {
    text-align: right;
    @include max(md) {
      order: 0;
    }
  }
  &__price {
    text-align: right;
    @include max(md) {
      order: 1;
    }
  }
  &__total {
    // padding: $spacer;
    text-align: right;
    &__row {
      margin-bottom: $spacer;
      display: flex;
      justify-content: space-between;
      &__title {
        margin-right: $spacer;
        // flex: 1 1 120px;
      }
      &__content {
        // flex: 1 1 120px;
      }
    }
  }
  &__bottom {
    padding-top: $spacer;
    // padding-bottom: $spacer;
    @include border-bottom;
    @include min(md) {
      display: flex;
      // align-items: center;
      justify-content: space-between;
      // widsth: 86.5%;
      padding-right: 6%;
    }
  }
  &.no-delete {
    .cart__head {
      .cart__item {
        &:nth-child(1) {
          padding-left: $spacer-bg-1;
          width: 61%;
          text-align: left;
        }
        &:nth-child(2) {
          width: 22.2%;
        }
        &:nth-child(3) {
          width: 16.8%;
          text-align: right;
        }
      }
    }
    .cart__bottom {
      @include min(md) {
        justify-content: flex-end;
        padding-right: $spacer;
      }
    }
    .cart__price {
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }
    // .cart__num__content {
    //   padding: 0;
    // }
  }
}
.step {
  display: flex;
  justify-content: center;
  color: $gray-500;
  // font-size:$h5-font-size;
  margin-bottom: $spacer-bottom;
  @include border;
  padding: $spacer-sm;
  &__list {
    display: flex;
    margin-bottom: 0;
  }
  &__item {
    margin-left: $spacer-sm;
    margin-right: $spacer-sm;
    // @include border;
    // padding: $spacer-sm-2 $spacer-sm-1;
    &__num {
      font-weight: $font-weight-bolder;
      // font-size:$h3-font-size;
    }
    &.active {
      color: $primary;
      .step__item__num {
        color: $secondary;
      }
    }
  }
}
.order {}
// .form{
//   margin-bottom: $spacer;
// }
.order-detail {
  @include border-top;
  margin-bottom: $spacer-bottom;
  &__row {
    @include border-bottom;
    display: flex;
    padding: $spacer;
    @include max(md) {
      padding: $spacer 0;
    }
  }
  &__title {
    flex-shrink: 0;
    flex-basis: 120px;
  }
  &__content {}
}
.alert-box {
  margin-bottom: $spacer-bottom;
  // padding-bottom: 0;
  h1 {
    i {
      padding-right: $spacer-sm-2;
      color: $secondary;
    }
  }
  p {
    margin-bottom: 0;
  }
}
.coupon {
  margin-bottom: $spacer;
}
.only-box-top {
  padding-top: $spacer-bg-2;
  &__title {
    font-size: $h2-font-size;
    margin-bottom: $spacer-bottom;
  }
}
// .admin-page {
//   .admin-page__title {
//     font-size: $h2-font-size;
//     margin-bottom: 0;
//   }
// }
.admin {
  text-align: left;
  margin-bottom: $spacer-bottom;
  &__title {
    // text-align: justify;
    @include min(md) {
      padding-right: $spacer-sm;
      text-align: justify;
    }
  }
  &__table {}
  &__head {
    padding: $spacer;
    @include border-top;
    font-weight: $font-weight-bolder;
    @include max(md) {
      display: none;
    }
  }
  &__list {
    @include border-bottom;
  }
  &__row {
    min-height: 63px;
    @include border-top;
    padding: $spacer;
    align-items: center;
    @include max(md) {
      padding: $spacer 0 $spacer-sm-2;
    }
  }
  &__item {
    @include max(md) {
      margin-bottom: $spacer;
    }
    // &--title {
    //   text-align: left;
    // }
  }
  &__order-product {
    margin-bottom: 0;
    &__item {
      // @include border-bottom;
    }
  }
}
.origin_price {
  color: $gray-500;
  font-weight: $font-weight-bolder;
}
.price {
  color: $secondary;
  font-weight: $font-weight-bolder;
}
// .products {
//   padding: 1rem;
//   // width: 80%;
//   .top {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
//   .head {
//     display: flex;
//     justify-content: space-between;
//     .one {
//       padding: 1rem;
//       width: 100%;
//     }
//   }
//   .cont {
//     .one-line {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       .one {
//         padding: 1rem;
//         width: 100%;
//       }
//     }
//   }
// }
.coupons {
  padding: 1rem;
  // width: 80%;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .head {
    display: flex;
    justify-content: space-between;
    .one {
      padding: 1rem;
      width: 100%;
    }
  }
  .cont {
    .one-line {
      display: flex;
      justify-content: space-between;
      .one {
        padding: 1rem;
        width: 100%;
      }
    }
  }
}
.edit-page {
  padding: $spacer-bg-1;
  @include max(md) {
    padding: $spacer;
  }
  &__title {
    margin-bottom: $spacer-bottom;
  }
  .close-position {
    @include min(md) {
      right: $spacer-bg-1;
      top: $spacer-bg-1;
    }
  }
}
.edit {
  &__row {}
  &__item {}
}
.pagination {
  display: flex;
  align-items: center;
  margin-bottom: $spacer;
  &__item {
    margin: 0 $spacer-sm-1;
  }
  &__link {
    color: $gray-600;
    cursor: pointer;
    img {
      display: block;
      width: 20px;
      margin-top: -3px;
    }
    &.active {
      color: $secondary;
      font-weight: $font-weight-bolder;
    }
    &.disabled {
      color: $gray-400;
      pointer-events: none;
      cursor: none;
    }
  }
}
.alert {
  z-index: 1000;
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  .one {
    border: #ccc 1px solid;
    padding: 1rem;
    background-color: #fff;
    &.success {
      color: #666;
    }
    &.fail {
      color: #c00;
    }
  }
}
.about {
  &__logo {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    @include min(md) {
      margin-bottom: 4rem;
      margin-top: 3rem;
    }
    // @include max(md) {
    //   max-width: 200px;
    // }
  }
  &__title {
    margin-top: $spacer-bg-1;
    margin-bottom: $spacer-bg-1;
    line-height: 1.3;
    @include max(lg) {
      font-size: $h2-font-size;
    }
    @include max(md) {
      text-align: center;
    }
    &--sm {
      @include max(lg) {
        font-size: $h3-font-size;
      }
    }
  }
  &__top {
    margin-bottom: $spacer-bottom*2;
    @include max(md) {
      margin-bottom: $spacer-bottom;
    }
  }
  &__item {
    margin-bottom: $spacer-bottom;
    @include max(md) {
      margin-bottom: $spacer;
    }
    .about__title--sm {
      border-bottom: $primary 1px solid;
      margin-bottom: $spacer;
      padding-bottom: $spacer;
    }
    p {
      @include max(md) {
        // margin-bottom: 0;
      }
    }
  }
  &__bottom {
    margin-bottom: $spacer-bottom;
    .about__title--sm {
      margin-top: $spacer;
    }
  }
  p {
    font-size: $h5-font-size;
    line-height: 2rem;
  }
  .btn{
    @include max(md) {
      width: 100%;
    }
  }
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-right-max-md {
  @include max(md) {
    text-align: right;
  }
}
.text-right-min-md {
  @include min(md) {
    text-align: right;
  }
}