.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: $spacer 0 0 2.5rem;
  @include max(md) {
    padding-left: $spacer;
  }
  margin-bottom: $spacer-bottom;
  font-size: $font-size-base;
  list-style: none;
  background-color: $white;
  border-radius: 0;
}
.breadcrumb__item {
  display: flex;
  a {
    &:hover,
    &:active {
      color: $secondary;
    }
  }
  +.breadcrumb__item {
    padding-left: $spacer-sm;
    &::before {
      display: inline-block;
      padding-right: $spacer-sm;
      color: $body-color;
      content: quote("/");
    }
  }
  &.active {
    color: $secondary;
  }
}