.top-banner {
  margin-bottom: $spacer-bottom*2;
  @include max(sm) {
    margin-bottom: $spacer-bottom;
  }
  &__item {
    height: 700px;
    background: no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    @include max(xl) {
      background-position: 30% 50%;
    }
    @include max(lg) {
      height: 70vh;
      align-items: flex-start;
      justify-content: center;
      background-position: 50% 40%;
    }
  }
  &__inner {
    z-index: 2;
    padding-left: 10vw;
    @include max(lg) {
      padding-bottom: 15vh;
      padding-top: 10vh;
      padding-left: $spacer-bg-2;
      width: 100%;
    }
    h2 {
      font-size: $h1-font-size;
      @include max(lg) {
        font-size: 2.2rem;
      }
    }
    h3 {
      font-size: $h3-font-size;
      margin-bottom: $spacer;
      line-height: $line-height-base;
      font-weight: $font-weight-normal;
      @include max(lg) {
        font-size: $h4-font-size;
      }
    }
  }
}

//區塊
.section {
  padding-bottom: $spacer-bg-1;
  h3 {
    font-size: $h2-font-size;
    text-align: center;
    margin-bottom: $spacer-bg-1;
    @include max(md) {
      font-size: 1.8rem;
    }
  }
  .btn-wrapper-center {
    .btn {
      @include max(sm) {
        width: 100%;
      }
    }
  }
}

.introduction {
  @include max(md) {}
  &__icon {
    position: relative;
    width: 60px;
    transform: rotate(16deg);
    margin-top: -43px;
    margin-left: $spacer;
    z-index: -1;
    @include max(md) {
      width: 50px;
      margin-top: -20px;
    }
  }
  h4 {
    font-size: $h3-font-size;
    line-height: 1.5;
    border-bottom: $primary 1px solid;
    margin-bottom: $spacer;
    position: relative;
    @include max(md) {
      border-bottom: 0;
    }
  }

  &__item {
    padding-top: $spacer;
    margin-bottom: $spacer-bottom;
    padding-left: $spacer;
    padding-right: $spacer;
    @include max(md) {
      padding: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
  .btn {
    @include max(sm) {
      width: 100%;
    }
  }
}

.feature {
  h4 {
    font-size: $h3-font-size;
    line-height: 1.5;
  }
  &__item {
    margin-bottom: $spacer-bottom;
  }
  &__img {
    margin-bottom: $spacer-sm;
  }
  &__content {}
  .btn {
    @include max(sm) {
      width: 100%;
    }
  }
}